@font-face {
    font-family: digital-7;
    src: url("../fonts/digital-7 (mono).ttf");
}

body {
    background-color: #878e6f;
    font-family: digital-7;
}

.time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: digital-7;
    font-size: 1500%;
}

.weather {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-family: digital-7;
    font-size: 500%;    
}

/* source: https://stackoverflow.com/a/4407335/8525294 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.turnedOff {
    opacity: 0.4;
}

.button {
    font-size: 200%;    
}